:root {
    list-style: none;
    user-select: none;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    color-scheme: light dark;
    color: rgba(201, 201, 201, 0.87);
    background-color: #131124;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --color-a: rgb(0, 136, 247, .1);
    font-family: Inter, Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

* {
    -webkit-touch-callout: none;
    /*系统默认菜单被禁用*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -khtml-user-select: none;
    /*早起浏览器*/
    -moz-user-select: none;
    /*火狐浏览器*/
    -ms-user-select: none;
    /*IE浏览器*/
    user-select: none;
    /*用户是否能够选中文本*/
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    overflow: auto;
    margin: 0;
    display: flex;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #000000;
        background-color: #05348B;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @tailwind colors; */

@layer components {
    .bth1 {
        @apply w-1/3 h-10 rounded-lg outline-none bg-gray-100 cursor-pointer
    }
    .bth1:hover {
        @apply bg-blue-500 text-gray-100 shadow-lg
    }
    .input1 {
        @apply w-60 h-6 mt-1 appearance-none rounded-lg
    }
    .input1:hover {
        @apply outline-none ring border-blue-300
    }
    .full {
        @apply absolute w-full h-full transition-all;
    }
}